<content>
  <div class="gradient_bg">
	<div class="wrap_480">

	<h1>Вход в систему</h1>
	<div class="form-group">
	  <div class="span6 offset3">
	    <%= form_for(:session, url: sessions_path) do |f| %>

	      <%= f.label "Email:" %>
	      <%= f.text_field :email, class: "form-control" %>
	<br>
	      <%= f.label "Пароль:" %>
	      <%= f.password_field :password, class: "form-control"%>

	      <%= f.submit "Войти в систему", class: "button" %>
	    <% end %>

	  </div></div>
	</div>
  </div>
</content>