<content>
  <div class="session_bg">
    <div class="filter85_height100">
	  <h1>Вход в систему</h1>
		<div class="wrap_480">
		<div class="form-group">
		  <div class="span6 offset3">
		    <%= form_for(:session, url: sessions_path) do |f| %>

		      <%= f.label "Email:" %>
		      <%= f.text_field :email, class: "form-control" %><br>
		      <%= f.label "Пароль:" %>
		      <%= f.password_field :password, class: "form-control"%>

		      <%= f.submit "Войти в систему", class: "btn" %>
		    <% end %>

	  </div></div></div>
	</div>
  </div>
</content>