<div class="wrap">

<h1>Вход в систему</h1>

  <div class="form_sign_in">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>
<br>
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in" %>
    <% end %>

  </div>
</div>