%content
.wrap_480
  %br/
  %br/
  %br/
  %br/
  %br/
  %h1 Sign in
  .row
    .form-group
      .span6.offset3
        = form_for(:session, url: sessions_path) do |f|
          = f.label "Email:"
          = f.text_field :email, class: "form-control", placeholder: "Email"
          %br/
          = f.label "Password:"
          = f.password_field :password, class: "form-control", placeholder: "Password"
          %br/
          = f.submit "Sign in", class: "btn btn-default"
