<div class="wrap">

  <h1>Изменить сообщение</h1>

      <%= image_tag @article.image.url(:medium) %>

  <div class="input-group">
  <%= form_for @article do |f| %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </p>
   
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text, class: "form-control" %>
    </p>
   
    <p>
      <%= f.file_field :image %><br><br>
      <%= f.submit "Сохранить изменения" %>
    </p>
  <% end %>
  </div>
  
</div>