<div class="head_bg">
  <div class="filter">
    <div id="text_logo">ARNIS</div>
    <div class="line_orng"></div>
    <h1>Добро пожаловать на <b>ARNIS DESING</b></h1>
    <h2>Меня зовут Алекс, мне 24 года, я креативный web-дизайнер</h2>
    <a href="#second_screen"><div class="btn">УЗНАТЬ БОЛЬШЕ</div></a>
    <a href="#second_screen"><%=image_tag("arrow_down.png", id: "arrow_down") %></a>
  </div>
</div>

<div id="second_screen">
  <h1>Web-design & mobile design</h1>
  <h2>Качество дизайна определяется просто: ничего лишнего и понятный интерфейс - залог вашего успеха.</h2>
  <div class="line_orng"></div>

  <div id="second_pics", class="wrap">
    <div class="secn_pic"><%= image_tag("1.jpg") %>
      <div class="text">#DANILOV WEDDING</div> 
    </div>
    <div class="secn_pic"><%= image_tag("2.jpg") %>
      <div class="text">#FACEUP IOS APP</div> 
    </div>
    <div class="secn_pic"><%= image_tag("3.jpg") %>
      <div class="text">#YAWN COOL</div> 
    </div>
    <div class="secn_pic"><%= image_tag("4.jpg") %>
      <div class="text">#FACEUP STARTUP SCREEN</div> 
    </div>
    <div class="secn_pic"><%= image_tag("5.jpg") %>
      <div class="text">#ROLIN DESIGN STUDIO</div> 
    </div>
    <div class="secn_pic"><%= image_tag("6.jpg") %>
      <div class="text">#iCULT&MARLEY PROMO PAGE</div> 
    </div>
    <div class="secn_pic"><%= image_tag("7.jpg") %>
      <div class="text">#MORTAN COMFORT</div> 
    </div>
    <div class="secn_pic"><%= image_tag("8.jpg") %>
      <div class="text">#VTB24 TRANSACTION</div> 
    </div>
    <div class="secn_pic"><%= image_tag("9.jpg") %>
      <div class="text">#DRAMINA DIGITAL STRATEGY</div> 
    </div>

  </div>
</div>

<div id="threeth_screen">
  <div class="filter">
    <div class="wrap">
      <h1>Кто я такой?</h1>
      <div class="line_orn3"></div>
      <p>Я дизайнер, немного разработчик и <b>просто люблю творчество</b>. Все началось с простых увлечений графикой и обработкой фотографии <b>в 2009 году</b>.  Позже увлечение и хобби переросло в серьезный труд и профессию. <b>С 2010 года я работаю web-дизайнером.</b> Сейчас занимаюсь так же мобильным дизайном, считаю это направление <b>очень перспективным.</b></p>
      <%= image_tag("makets_perspective.png", id:"makets_perspective") %>
    </div>
  </div>
</div>

<div id="fourth_screen">
  <h1>Эффективные решения</h1>
  <h2>Успех вашего проекта зависит от многих факторов. Будьте спокойны, все сделают за вас</h2>
  <div class="line_orng"></div>

  <div id="columns", class="wrap">
    <div class="column">
      <%= image_tag("col1.jpg") %>
      <%= image_tag("ico_design.png", class:"fourth_icons") %>
      <h1>БЫСТРЕЕ МОЛНИИ</h1>
      <p>Дизайн разрабатывается одним человеком, а значит он может оперативно вностить правки с учетом ваших требований, быстро и оперативно.</p>
    </div>

    <div class="column">
      <%= image_tag("col2.jpg") %>
      <%= image_tag("ico_interface.png", class:"fourth_icons") %>
      <h1>КУПИТ КАЖДЫЙ</h1>
      <p>Понятный интерфейс - ключевая составляющая вашего успеха. Пришел, увидел, купил - вот чего я добиваюсь от каждого проекта.</p>
    </div>

    <div class="column">
      <%= image_tag("col3.jpg") %>
      <%= image_tag("ico_relax.png", class:"fourth_icons") %>
      <h1>ВСЕ ПРОДУМАНО</h1>
      <p>Возможности вашего проекта обдумываются уже на этапе разработки дизайна, тем самым упрощая дальнейший процесс разработки.</p>
    </div>
  </div>
</div>

<div id="fifth_screen">
  <div class="filter">
    <h1>Мои работы</h1>
    <h2>Макетов очень много, тут наиболее самые удачные на мой взгляд</h2>
    <div class="line_orng"></div>

  <div class="wrap">
    <div id="art"><%= render :partial => 'articles' %></div>
  </div>
  </div>
</div>

<div id="six_screen" class="wrap">
    <h1>Рабочий процесс</h1>
    <h2>Представляет из себя 3 этапа. Анализ рынка, учет конкурентов и конечно ваш успех.</h2>
    <div class="line_orng"></div>

  <div class="icons">
    <div class="head_ico"><%= image_tag("ico_anal.png")%><h3>АНАЛИЗ</h3></div>
    <div class="head_ico"><%= image_tag("ico_idea.png")%><h3>ИДЕЯ</h3></div>
    <div class="head_ico"><%= image_tag("ico_action.png")%><h3>ДЕЙСТВИЕ</h3></div>
  </div>

</div>

<div id="message_screen">
 <div class="filter">
  <div class="wrap">
    <div class="message">

    <h1>Вы можете связаться со мной</h1>
    <h2>Оставьте сообщение и мы начнем продуктивно работать</h2>
    <div class="line_orng"></div>

    <%= form_for :message, url: messages_path do |f| %>

    <p><%= f.text_field :name,  :placeholder => 'Введите номер телефона или ваш email...', class: "form" %></p>

    <p><%= f.text_area :text, :placeholder => 'Введите ваш вопрос, сообщение или отзыв :)', class: "form" %></p>

    <%= f.submit "отправить сообщение", class: "btn" %>

    <% end %>
</div>
    </div>
  </div>
</div>