<div id="header_bg">

  <div class="wrap">

    <div id="titl">
      <h1>Сделайте свой сайт продуктивным</h1>
      <p>Разработаю дизайн для вашего проекта в самые короткие сроки. Качественно, не дорого...</p>
    </div>

    <div class="submit">
      <a href="#message_screen">
        <div class="button">
          <div class="ico_bg"><%= image_tag("ico_letter.png") %></div>ПОЛУЧИТЬ ВЫГОДУ
        </div>
      </a>
    </div>

    <div class="icons">
      <div class="head_ico"><%= image_tag("ico_idea.png")%><h3>ИДЕЯ</h3></div>
      <div class="head_ico"><%= image_tag("ico_anal.png")%><h3>АНАЛИТИКА</h3></div>
      <div class="head_ico"><%= image_tag("ico_action.png")%><h3>ДЕЙСТВИЕ</h3></div>
    </div>

  </div>
</div> 

<div id="content">

  <div class="wrap">
    <div id="art"><%= render :partial => 'articles' %></div>
  </div>

</div>

<div id="message_screen">
  <div class="wrap">
    <div class="message">

    <h1>Вы можете связаться со мной</h1>

    <p>Оставьте сообщение или свяжитесь со мной и мы начнем продуктивно работать</p>

    <%= form_for :message, url: messages_path do |f| %>

    <p><%= f.text_field :name,  :placeholder => 'Введите номер телефона или ваш email...', class: "form" %></p>

    <p><%= f.text_area :text, :placeholder => 'Введите ваш вопрос, сообщение или отзыв :)', class: "form" %></p>

    <%= f.submit "отправить сообщение", class: "button" %>

    <% end %>

    </div>
  </div>
</div>

