<div id="header_bg">

  <div class="wrap">

    <div id="avatar"><%= image_tag("avatar.png") %>
      <%=link_to (image_tag("skype_ico.png", class: "skype_ico")), "skype:glmrvn?call" %>
      <%=link_to (image_tag("vk_ico.png", class: "vk_ico")),       "http://vk.com/id254915817"  %>
      <%=link_to (image_tag("phone_ico.png", class: "phone_ico")), "callto://+79271701369" %>
    </div>

    <div id="titl">
      <h1>#web_design</h1>
      <p>Сделайте свой сайт продуктивным. Хватит терять пользователей из-за уродливого и непонятного интерфейса</p>
    </div>

    <div class="submit">
      <a href="#message_screen">
        <div class="button">
          <div class="ico_bg"><%= image_tag("ico_letter.png") %></div>СВЯЗАТЬСЯ
        </div>
      </a>
    </div>

    <div class="icons">
      <div class="head_ico"><%= image_tag("ico_anal.png")%><h3>АНАЛИЗ</h3></div>
      <div class="head_ico"><%= image_tag("ico_idea.png")%><h3>ИДЕЯ</h3></div>
      <div class="head_ico"><%= image_tag("laptop_nil.png")%><h3>ДЕЙСТВИЕ</h3></div>
      <%= image_tag("rocket.png", id: "rocket") %>
    </div>

  </div>
</div>

<div id="content">

  <div class="wrap">
    <div id="art"><%= render :partial => 'articles' %></div>
  </div>

</div>

<div id="message_screen">
  <div class="wrap">
    <div class="message">

    <h1>Вы можете связаться со мной</h1>

    <p>Оставьте сообщение или свяжитесь со мной и мы начнем продуктивно работать</p>

    <%= form_for :message, url: messages_path do |f| %>

    <p><%= f.text_field :name,  :placeholder => 'Введите номер телефона или ваш email...', class: "form" %></p>

    <p><%= f.text_area :text, :placeholder => 'Введите ваш вопрос, сообщение или отзыв :)', class: "form" %></p>

    <%= f.submit "отправить сообщение", class: "button" %>

    <% end %>

    </div>
  </div>
</div>
