#section2
  .wrap
    %h1= @article.title
    %p= @article.text
    - if signed_in?
      .admin_btns
        = link_to "Edit", edit_article_path
        = link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }
    .pager
      = link_to("", @article.previous_post, class: "next_art") if @article.previous_post
      = link_to("", @article.next_post, class: "prev_art") if @article.next_post
    = image_tag @article.image_url, class: "image_prev"
