<div class="wrap">
	<p>
	  <strong>Загаловок</strong></br>

	  <%= image_tag @article.image.url(:medium) %>
	  <%= @article.title %>
	</p>

	<p>
	  <strong>Текст</strong></br>
	  <%= @article.text %>
	</p>
	</br><%= link_to "Back", articles_path %>
	</br><%= link_to "Edit", edit_article_path %>
	</br><%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
