<content>
	<div id="header_bg" >
	  <div id="header_bg_overlay"></div>

	</div>
		    <div class="wrap">
		    <div id="titl">
			    <h1>Alex Dyakov</h1>
			    <p>Разработаю дизайн для вашего проекта в самые короткие сроки. Качественно, не дорого...</p>
			</div>

		    <%= image_tag("window.png", id: "window") %>
		</div>

	<div id="second_screen">

		<div class="wrap">
		<div id="columns">

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		  <div class="column">
		    <%= image_tag("ico1.png", class: "icon") %>
		    <h1>awesome design</h1>
		    <p>Enim ad minim veniam, quis nostrud exerci tation ullamcorpe. Veniam, quis nostrud exerci tation ullamcorpe</p>
		  </div>

		</div>
	</div>
	</div>

	<div id="third_screen">
	  <div class="wrap">
	    <%= image_tag("iphones.png", id: "iphones") %>

	    <div id="ios_apps">
	    	<%= image_tag("ios_ico.png", class: "icon") %>
	    	<h1>iOS Application design</h1>
	    	<ul>
	    		<li>Без лишних перегружающих и путающих деталей</li>
	    		<li>Только современные тенденции в дизайне</li>
	    		<li>Дружелюбным к пользователям интерфейс и функции</li>
	    		<li>Понятные и гибкие настройки приложения</li>
	    	</ul>
	    	<a href="/articles"><div class="butn">ПРОСМОТРЕТЬ</div></a>
	    </div>
	  </div>
	</div>

	<div id="fourth_screen">
	  <div class="wrap">

	    <div id="web_apps">
	    	<%= image_tag("web_ico.png", class: "icon") %>
	    	<h1>Web design</h1>
	    	<ul>
	    		<li>Современный дизайн. Простота восприятия информации</li>
	    		<li>Качественная и читаемая типография</li>
	    		<li>Адаптивность под retina дисплеи, svg графика</li>
	    		<li>Мобильные версии для всех устройств</li>
	    	</ul>
	    	<a href="/articles"><div class="butn">ПРОСМОТРЕТЬ</div></a>
	    </div>
	    <%= image_tag("makets.png", id: "makets") %>
	  </div>
	</div>

	<div id="fifth_screen">
	  <div id="fifth_bg">
	    <div id="fifth_bg_overlay">
	      <div class="wrap">

	      <div class="message">

	        <h1>Хотите связаться со мной?</h1>

	        <%= form_for :message, url: messages_path do |f| %>

		    <p><%= f.text_field :name,  :placeholder => 'Введите номер телефона или ваш email...', class: "form" %></p>
		   
		    <p><%= f.text_area :text, :placeholder => 'Введите ваш вопрос, сообщение или отзыв :)', class: "form" %></p>

		    <%= f.submit "ОТПРАВИТЬ", class: "button" %>

	        <% end %>
	        
	      </div>

	      </div>

	    </div>
	   </div>

	</div>

</content>

