<div class="head_bg">
  <div class="filter">
    <div id="text_logo">ARNIS</div>
    <div class="line_orng"></div>
    <h1>Добро пожаловать на <b>ARNIS DESING</b></h1>
    <h2>Меня зовут Алекс, мне 24 года, я креативный web-дизайнер</h2>
    <a href="#"><div class="btn">УЗНАТЬ БОЛЬШЕ</div></a>
    <a href="#second_screen"><%=image_tag("arrow_down.png", id: "arrow_down") %></a>
  </div>
</div>

<div id="second_screen">
  <h1>Web-design & mobile design</h1>
  <h2>Качество дизайна определяется просто: ничего лишнего и понятный интерфейс - залог успеха.</h2>
  <div class="line_orng"></div>

  <div id="second_pics", class="wrap">
    <%= image_tag("1.jpg", class:"secn_pic") %>
    <%= image_tag("2.jpg", class:"secn_pic") %>
    <%= image_tag("3.jpg", class:"secn_pic") %>
    <%= image_tag("4.jpg", class:"secn_pic") %>
    <%= image_tag("5.jpg", class:"secn_pic") %>
    <%= image_tag("6.jpg", class:"secn_pic") %>
  </div>
</div>

<div id="threeth_screen">
  <div class="filter">
    <div class="wrap">
      <h1>Кто я такой?</h1>
      <div class="line_orn3"></div>
      <p>Все началось с простых увлечений графикой и обработкой фотографии <b>в 2009 году</b>.  Позже увлечение и хобби переросло в серьезный труд и профессию. <b>С 2010 года я работаю web-дизайнером.</b> Сейчас занимаюсь так же мобильным дизайном, считаю это направление <b>очень перспективным.</b></p>
      <%= image_tag("makets_perspective.png", id:"makets_perspective") %>
    </div>
  </div>
</div>

<div id="fourth_screen">
  <h1>Эффективные решения</h1>
  <h2>Успех вашего проекта зависит от многих факторов. Будьте спокойны, все сделают за вас</h2>
  <div class="line_orng"></div>

  <div id="columns", class="wrap">
    <div class="column">
    	<%= image_tag("col1.jpg") %>
    	<%= image_tag("ico_design.png", class:"fourth_icons") %>
    	<h1>WEB ДИЗАЙН</h1>
    	<p>Дизайн разрабатывается одним человеком, а значит он может оперативно вностить правки с учетом ваших требований быстро и оперативно.</p>
    </div>

    <div class="column">
    	<%= image_tag("col2.jpg") %>
    	<%= image_tag("ico_interface.png", class:"fourth_icons") %>
    	<h1>ИНТЕРФЕЙС</h1>
    	<p>Понятный интерфейс - ключевая составляющая вашего успеха. Пришел, увидел, купил - вот чего я добиваюсь от каждого проекта.</p>
    </div>

    <div class="column">
    	<%= image_tag("col3.jpg") %>
    	<%= image_tag("ico_relax.png", class:"fourth_icons") %>
    	<h1>РАССЛАБЬТЕСЬ</h1>
    	<p>Возможности вашего проекта обдумываются уже на этапе разработки дизайна, тем самым упрощая дальнейший процесс разработки.</p>
    </div>
  </div>
</div>

<div id="fifth_screen">
  <div class="filter">
    <h1>Последние работы</h1>
    <h2>Здесь представлены некоторые мои труды.</h2>
    <div class="line_orng"></div>


  </div>
	
</div>