.wrap_480
  %h1 Edit account
  %br/
  .form-group
    = form_for @user do |f|
      = f.label :email
      = f.text_field :email, class: "form-control", placeholder: "Enter your new email"
      %br/
      = f.label :password
      = f.password_field :password,  class: "form-control", placeholder: "Enter your new password"
      %br/
      = f.label :password_confirmation
      = f.password_field :password_confirmation,  class: "form-control", placeholder: "Enter your password confirmation"
      %br/

      = f.submit "Save changes", class: "btn btn-large btn-primary"
