<!DOCTYPE html>
<html>
<head>
  <title>Glmrvn</title>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="menu">
    	<div class="wrap">
        <nav>
	    	<%=link_to (image_tag("glmrvn.png", id: "user_pic")), root_path %>

          <% if signed_in? %>
            <%= link_to "Выйти", signout_path, method: "delete" %>
            <%= link_to "Админ", user_path(current_user) %>
            <div id="line"></div>
          <% else %>
            <%= link_to "Войти", signin_path %>
          <% end %>

	        <%= link_to "Портфолио", root_path( :anchor => 'art' ) %>
          <%= link_to "Связаться со мной", root_path( :anchor => 'message_screen' ) %>
	      	<%= link_to "Главная", root_path %>
        </nav>
      </div>
    </div>

  </header>

  <div class="wrap">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

  <footer>
    <div class="wrap">
      <div id="copyright">2008 - 2015 glmrvn, Design Inspiration</div>
      <div id="foo_menu"></div>
    </div>
  </footer>

</body>
</html>
