<!DOCTYPE html>
<html>
<head>
  <title>Glmrvn</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,100,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="menu">
    	<div class="wrap">
	    	<%= image_tag("admin.png", id: "user_pic") %>
	    	<%= link_to "glmrvn", root_path, id: "logo" %>
        <nav>
	        <div id="port_size"><p><%= @articles.size %></p></div>
	        <%= link_to "Портфолио", articles_path %>     
	        <%= link_to "Контакты", "#" %>
	      	<%= link_to "Связаться со мной", root_path( :anchor => 'fifth_screen' ) %>
          <% if signed_in? %>
            <%= link_to "Выйти", signout_path, method: "delete" %>
          <% end %>

        </nav>
      </div>
    </div>
  </header>
  
  <div class="wrap">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  
  <%= yield %>

  <footer>
    <div class="wrap">
      <div id="copyright">2008 - 2015 glmrvn, Design Inspiration</div>
      <div id="foo_menu"></div>
    </div>
  </footer>

</body>
</html>
