!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ALEX ARNIS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.png'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60096112-1', 'auto');
      ga('send', 'pageview');
    / Yandex.Metrika counter
    :javascript
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter38408655 = new Ya.Metrika({
                      id:38408655,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    %noscript
      %div
        %img{:alt => "", :src => "https://mc.yandex.ru/watch/38408655", :style => "position:absolute; left:-9999px;"}/

  %body
    %header
      .menu
        %nav
          - if signed_in?
            = link_to "Sign Out", signout_path, method: "delete"
            = link_to "Admin", user_path(current_user)
          = link_to "Contact me", "mailto:glmrvn@gmail.com?subject=Message+theme&body=Hello,"
          -# = link_to "SEE DETAILS", portfolio_path
          - unless current_page?(root_path)
            = link_to "MAIN PAGE", root_path, class:"menu_right"
    .wrap
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
    = yield
    %footer
      .footer_icons
        = link_to image_tag("ico_dribbble.svg", class:"foo_ico"), "https://dribbble.com/glmrvn", target:"_blank"
        = link_to image_tag("sketch_icon.svg",  class:"foo_ico"), "http://www.sketchappsources.com/contributor/glmrvn", target:"_blank"
        = link_to image_tag("twitter_icon.svg", class:"foo_ico"), "https://twitter.com/gloomraven", target:"_blank"
        = link_to image_tag("github_icon.svg",  class:"foo_ico"), "https://github.com/glmrvn", target:"_blank"
        = link_to image_tag("skype_icon.svg",   class:"foo_ico"), "skype:+gloomraven?call"
        = link_to image_tag("vk_icon.svg",      class:"foo_ico"), "http://vk.com/id254915817", target:"_blank"
        -# = link_to image_tag("ico_mail.png", class:"foo_ico"), "mailto:faqmybrain@gmail.com?subject=Тема+письма&body=Здравствуйте"
